.window-buttons {
	position: fixed;
	top: 8px;
	right: 8px;
}

.window-buttons button {
	color: rgba(0, 0, 0, 0.5);
	background: inherit;
	border: none;
	padding: 0.5em;
	margin: 0;
	line-height: 0.33;
	font-size: 24px;
	font-family: monospace;
}

.window-buttons button:hover {
	color: rgba(0, 0, 0, 1);
}